@charset "UTF-8";
/* COLORS */
/* FONTS */
/* Transition */
body, header .headerContent, main .flexcontainer, main .flexcontainer figure figcaption {
  display: flex; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  flex-direction: column;
  background: url("../img/clouds.jpg") no-repeat fixed;
  background-position: center;
  background-size: cover; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

b {
  color: #0080ff; }

/* --------- Header --------- */
header {
  background: #003680; }
  header .headerContent {
    align-items: center;
    width: 70%;
    margin: 0 auto;
    position: relative; }
    header .headerContent img {
      width: 50px;
      padding: 10px 0;
      float: left; }
    header .headerContent h1 {
      font-family: "Concert One", cursive;
      padding: 20px;
      color: #EEF0F4;
      margin-top: -5px;
      float: left; }
    header .headerContent nav {
      position: absolute;
      right: 0;
      font-size: 1.2em; }
      header .headerContent nav ul li {
        border: 3px solid #003680; }
        header .headerContent nav ul li a {
          color: #fff; }
        header .headerContent nav ul li #sum,
        header .headerContent nav ul li #sum2 {
          padding-left: 10px;
          color: #A7A7A7; }
        header .headerContent nav ul li #sum:after,
        header .headerContent nav ul li #sum2:after {
          content: '€'; }
      header .headerContent nav ul li:hover,
      header .headerContent nav ul .current {
        border-bottom: 3px solid #0080ff;
        transition: border-color 1s ease; }

/* --------- Main Content: Trips --------- */
main {
  flex: 1;
  width: 70%;
  margin: 0 auto; }
  main .flexcontainer {
    justify-content: space-between;
    flex-flow: wrap;
    align-items: baseline;
    margin-bottom: 15px;
    /* --------- Figure Hover States --------- */ }
    main .flexcontainer figure {
      width: 45%;
      margin-top: 80px;
      position: relative;
      -webkit-box-shadow: 0px 0px 6px 0px #a39ea3;
      -moz-box-shadow: 0px 0px 6px 0px #a39ea3;
      box-shadow: 0px 0px 6px 0px #a39ea3;
      /* ---------- Custom Checkbox for adding Trip to Invoice --------- */
      /* -- Container -- */
      /* -- Hover container -- */
      /* Base */
      /* Checked */
      /* -- Custom Checkbox Base -- */
      /* Checked */
      /* -- Icons Base -- */
      /* Base */
      /* Checked */
      /* -- Icons Hover -- */
      /* Base */
      /* Checked */
      /* --------- Figcaption --------- */
      /* --------- Figure Image --------- */ }
      main .flexcontainer figure .add_remove_container input {
        display: none;
        /* Remove default checkbox */ }
      main .flexcontainer figure .add_remove_container {
        position: absolute;
        right: 80px;
        top: 22px;
        z-index: 9;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased; }
      main .flexcontainer figure .add_remove_container:hover input ~ .checkmark {
        cursor: pointer;
        background: #003680; }
      main .flexcontainer figure .add_remove_container:hover input:checked ~ .checkmark {
        cursor: pointer;
        background: red; }
      main .flexcontainer figure .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        width: 50px;
        background-color: #0080ff;
        border: 3px solid #fff;
        border-radius: 45px; }
      main .flexcontainer figure .add_remove_container input:checked ~ .checkmark {
        background-color: #003680; }
      main .flexcontainer figure .checkmark:before {
        content: "\f055";
        font-family: "Font Awesome 5 Free";
        position: absolute;
        font-weight: 900;
        font-size: 40px;
        top: 2.5px;
        left: 5px;
        color: #003680; }
      main .flexcontainer figure .add_remove_container input:checked ~ .checkmark:before {
        content: "\f058";
        font-family: "Font Awesome 5 Free";
        position: absolute;
        font-weight: 900;
        font-size: 40px;
        top: 2.5px;
        left: 5px;
        color: #0080ff; }
      main .flexcontainer figure .add_remove_container:hover input ~ .checkmark:before {
        cursor: pointer;
        color: #0080ff; }
      main .flexcontainer figure .add_remove_container:hover input:checked ~ .checkmark:before {
        content: "\f056";
        cursor: pointer;
        color: #003680; }
      main .flexcontainer figure figcaption {
        justify-content: space-between;
        position: absolute;
        background: #003680;
        color: #D8e8eb;
        text-transform: uppercase;
        font-weight: bold;
        padding: 7px 0;
        bottom: -3px;
        width: 100%;
        max-height: 32px;
        transition: all 0.5s linear; }
        main .flexcontainer figure figcaption .loc_head {
          text-align: center;
          display: block;
          width: 100%;
          position: absolute;
          font-size: 1.6em; }
        main .flexcontainer figure figcaption .loc_info, main .flexcontainer figure figcaption .price_info {
          visibility: hidden;
          opacity: 0;
          transition: visibility 0s, opacity 0.5s linear;
          padding: 0 10px; }
        main .flexcontainer figure figcaption .price_info {
          text-align: right; }
        main .flexcontainer figure figcaption .loc_info h2, main .flexcontainer figure figcaption .price_info h2 {
          color: #0080ff;
          font-size: 1.6em;
          font-weight: bold;
          padding-bottom: 10px; }
        main .flexcontainer figure figcaption .price_info h2 {
          color: #08A400;
          font-size: 1.8em;
          font-weight: bold;
          padding-bottom: 10px; }
        main .flexcontainer figure figcaption .loc_info p, main .flexcontainer figure figcaption .price_info p,
        main .flexcontainer figure figcaption .price_info p {
          font-size: 1.2em;
          color: #fff; }
      main .flexcontainer figure img {
        -webkit-filter: grayscale(80%);
        -moz-filter: grayscale(80%);
        -o-filter: grayscale(80%);
        -ms-filter: grayscale(80%);
        filter: grayscale(80%);
        width: 100%;
        transition: all 0.5s linear; }
    main .flexcontainer figure:hover figcaption,
    main .flexcontainer figure .add_remove_container input:checked,
    main .flexcontainer .checked {
      cursor: pointer;
      max-height: 70px;
      text-align: left; }
      main .flexcontainer figure:hover figcaption .loc_head,
      main .flexcontainer figure .add_remove_container input:checked .loc_head,
      main .flexcontainer .checked .loc_head {
        display: none; }
      main .flexcontainer figure:hover figcaption .loc_info, main .flexcontainer figure:hover figcaption .price_info,
      main .flexcontainer figure:hover figcaption .price_info,
      main .flexcontainer figure .add_remove_container input:checked .loc_info,
      main .flexcontainer figure .add_remove_container input:checked figcaption .price_info,
      main .flexcontainer figure figcaption .add_remove_container input:checked .price_info,
      main .flexcontainer figure .add_remove_container input:checked .price_info,
      main .flexcontainer .checked .loc_info,
      main .flexcontainer .checked figure figcaption .price_info,
      main .flexcontainer figure figcaption .checked .price_info,
      main .flexcontainer .checked .price_info {
        visibility: visible;
        opacity: 1; }
    main .flexcontainer figure:hover .add_remove_container,
    main .flexcontainer .label_checked {
      visibility: visible !important;
      opacity: 1 !important; }
    main .flexcontainer figure:hover img,
    main .flexcontainer .img_checked {
      -webkit-filter: grayscale(20%);
      -moz-filter: grayscale(20%);
      -o-filter: grayscale(20%);
      -ms-filter: grayscale(20%);
      filter: grayscale(20%);
      cursor: pointer; }

/* --------- Footer --------- */
footer {
  height: 100%;
  background: #003680;
  color: #fff;
  text-align: center;
  line-height: 50px;
  margin-top: 80px; }

/* ---------- Invoice ---------- */
#invoice {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  width: 70%;
  margin: auto; }

.inv_info {
  padding-bottom: 44px;
  background-color: rgba(255, 255, 255, 0.7); }

h3 {
  padding: 20px 0;
  border-bottom: 3px solid #000; }

table {
  text-align: right;
  width: 100%;
  font-size: 1.5em;
  background-color: rgba(255, 255, 255, 0.7); }
  table th {
    color: #003680; }
  table td,
  table th {
    padding: 20px; }
  table .divider {
    border-top: double #000; }

label {
  font-size: 1.2em; }

/* ---------- Media Queries ---------- */
@media screen and (max-width: 1264px) {
  main {
    width: 97%; }

  header .headerContent {
    width: 97%; }

  #invoice {
    width: 97%; } }
@media screen and (max-width: 850px) {
  main .flexcontainer figure {
    width: 80%;
    margin: 80px auto 0; }
    main .flexcontainer figure .add_remove_container {
      visibility: visible;
      opacity: 1; }
    main .flexcontainer figure img {
      -webkit-filter: grayscale(20%);
      -moz-filter: grayscale(20%);
      -o-filter: grayscale(20%);
      -ms-filter: grayscale(20%);
      filter: grayscale(20%);
      width: 100%;
      transition: all 0.5s linear; }
  main .flexcontainer figure figcaption {
    max-height: 70px;
    text-align: left; }
    main .flexcontainer figure figcaption .loc_head {
      display: none; }
    main .flexcontainer figure figcaption .loc_info, main .flexcontainer figure figcaption .price_info,
    main .flexcontainer figure figcaption .price_info {
      visibility: visible;
      opacity: 1; }

  header .headerContent {
    flex-flow: wrap; } }
@media screen and (max-width: 500px) {
  header .headerContent h1 {
    font-size: 1.2em; }
  header .headerContent img {
    width: 30px; }

  main .flexcontainer figure {
    width: 97%;
    margin: 30px auto 0; }

  #invoice {
    top: 134px; }

  .inv_info {
    padding-bottom: 60px; } }
@media screen and (max-width: 400px) {
  header .headerContent h1 {
    display: none; }
  header .headerContent img {
    width: 35px; }

  main .flexcontainer figure {
    width: 97%;
    margin: 30px auto 0; }
    main .flexcontainer figure .add_remove_container {
      visibility: visible;
      opacity: 1; }
    main .flexcontainer figure figcaption .loc_info h2, main .flexcontainer figure figcaption .price_info h2 {
      font-size: 1.2em; }
    main .flexcontainer figure figcaption .price_info h2 {
      font-size: 1.4em; }
    main .flexcontainer figure figcaption .loc_info p, main .flexcontainer figure figcaption .price_info p,
    main .flexcontainer figure figcaption .price_info p {
      font-size: 0.8em; }
  main .flexcontainer figure figcaption {
    max-height: 70px;
    text-align: left; }
    main .flexcontainer figure figcaption .loc_head {
      display: none; }
    main .flexcontainer figure figcaption .loc_info, main .flexcontainer figure figcaption .price_info,
    main .flexcontainer figure figcaption .price_info {
      visibility: visible;
      opacity: 1; } }

/*# sourceMappingURL=style.css.map */
