/* COLORS */
$mainColor: #003680;
$secColor: #0080ff;
$fontColor: #1E1E1E;
$green: #08A400;

/* FONTS */
$headFont: 'Concert One', cursive;
$normalFont: 'Lato', sans-serif;

/* Transition */
$time: 0.5s;